
.button {

}

.button-arrow {
    transition: transform 0.3s ease;
} .button:hover .button-arrow {
    &.right {
        transform: translateX(3px);
    }
    &.left {
        transform: translateX(-3px);
    }
}