@import '../App.css';

.card {
    background-color: var(--color-3);
    width: 25vw;
    height: 40vh;
    border-radius: 5%;
    padding: 2vmax;

    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    transition: 0.25s ease-out;
}

.card-alt {
    background-color: var(--color-5);
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    transition: 0.25s ease-out;
}

.card:hover {
    scale: 1.05;
    transition: 0.25s ease-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.card-heading {
    font-family: var(--font-face-2);
    font-size: var(--font-size-2);
    color: var(--color-2);
}

.card-subheading {
    font-family: var(--font-face-1);
    font-size: var(--font-size-3);
    color: var(--color-4);
}

.card-image-container {
    padding: 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-image {
    width: 17.5vw;
    height: auto;
    border-radius: 0.5vmax;
}
