@import '../App.css';

.mouse_scroll {
    display: block;
}


.mouse_scroll_arrow
{
    display: block;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 2px solid var(--color-4);
    border-bottom: 2px solid var(--color-4);
    margin: 0 0 3px 4px;

    width: 16px;
    height: 16px;
}

.arrow1, .arrow2, .arrow3
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.arrow1
{
    animation-direction: alternate;

    margin-top: 1px;
}

.arrow2
{
    animation-delay: .2s;
    animation-direction: alternate;

    margin-top: -6px;
}

.arrow3
{
    animation-delay: .3s;
    animation-direction: alternate;

    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid var(--color-4);
    top: 170px;
}

.wheel {
    display: block;
    margin: 5px auto;
    background: var(--color-4);
    position: relative;

    height: 4px;
    width: 4px;
    border: 2px solid var(--color-4);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    animation: mouse-wheel 0.6s linear infinite;
}

@keyframes mouse-wheel {

    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
}

@keyframes mouse-scroll {

    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
}

@media screen and (max-height: 700px) {
    .mouse_scroll {
        display: none;
    }
}