
.window-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: rgb(255, 255, 255, 0.2) 1px solid;
    padding: 0.75vmax;
    margin-top: 25vh;
    border-radius: 2vmax;
    width: 70vw;
    height: 95vh;
}

.window {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: rgb(255, 255, 255, 0.5) 1px solid;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1.25vmax;
}

.window-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 6vh;
    padding-left: 1.25vw;
    gap: 0.5vw;
    background: linear-gradient(to right, #1E1E1E, #848484, #1E1E1E);
    border-top-left-radius: 1.25vmax;
    border-top-right-radius: 1.25vmax;
}

.dot {
    display: inline-block;
    width: 0.75vmax;
    height: 0.75vmax;
    background: #f9f9f9;
    border-radius: 50%;

    &.red {
        background: #FF6057;
        border: 0.1vmax solid #E14640;
    }

    &.amber {
        background: #FFBD2E;
        border: 0.1vmax solid #DFA123;
    }

    &.green {
        background: #27C93F;
        border: 0.1vmax solid #1DAD2B;
    }
}

.window-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.25vmax;
    overflow: auto;
}

.name-container {
    display: flex;
    position: absolute;
    left: 10%;
    top: 33%;
    font-size: 6vmax;
    font-weight: bold;
    text-align: left;
    letter-spacing: -2px;
    line-height: 90%;
}

.name {
    font-style: italic;
}

.additional-info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    bottom: 33%;
    color: #f2f2f2;
    font-size: 1.5vmax;
}

.job {
    font-weight: 600;
}

.location {
    font-weight: 400;
    color: rgba(242, 242, 242, 0.5);
}