
@keyframes shineAnimation {
    0% {
        transform: translateX(-100%) rotate(15deg);
        opacity: 0.15;
    }
    45% {
        transform: translateX(100%) rotate(15deg);
        opacity: 0.15;
    }
    55% {
        transform: translateX(100%) rotate(15deg);
        opacity: 0;
    }
    100% {
        transform: translateX(-100%) rotate(15deg);
        opacity: 0;
    }
}

.shine-wrapper {
    grid-column-gap: 24px;
    opacity: .15;
    filter: blur(12px);
    height: 200%;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(15deg);
    animation: shineAnimation 4s linear infinite;
}

.shine-big {
    width: 96px;
    background-color: var(--primary);
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}

.shine-small {
    width: 40px;
    background-color: var(--primary);
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}
