.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--color-3);
    border-radius: 0.5vmax;
    padding: 1vmax;
    width: 40vw;
    height: 40vh;
}

.modal-alt{
    background: var(--color-5);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.close-button:focus {
    outline: none;
}

.modal-heading {
    font-family: var(--font-face-2);
    font-size: var(--font-size-2);
    color: var(--color-2);
}

.modal-subheading {
    font-family: var(--font-face-1);
    font-size: var(--font-size-3);
    color: var(--color-4);
}

.modal-body {
    font-family: var(--font-face-1);
    font-size: var(--font-size-6);
    color: var(--color-4);
}
