
.project-card-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    border: rgb(255, 255, 255, 0.1) 1px solid;
    padding: 0.75vmax;
    border-radius: 2vmax;
    width: 70vw;
    height: 95vh;
    background-color: rgba(242, 242, 242, 0.04);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .4), 0 0 60px rgba(0, 0, 0, .2), 0 30px 120px rgba(0, 0, 0, .8);
    position: relative; /* Add position relative */
}

.project-card-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--primary) 50%, rgba(255, 255, 255, 0)) 100%;
    border-radius: 2vmax;
    z-index: 2; /* Ensure the line is above the card content */
}


.project-card {
    --project-card-color: rgba(242, 242, 242, 0.1);
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    border: rgb(255, 255, 255, 0.2) 1px solid;
    width: 100%;
    height: 100%;
    border-radius: 1.25vmax;
    background-color: rgba(242, 242, 242, 0.04);
    transition: background-color 0.5s ease;
    overflow: hidden;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, var(--primary) 50%, rgba(255, 255, 255, 0) 75%);
    border-radius: 1.25vmax;
    z-index: 2; /* Ensure the line is above the card content */
}

.project-card:hover {
    background-color: var(--project-card-color);
    /*background-image: radial-gradient(circle farthest-side at 50% 0, rgba(0, 99, 155, .5), rgba(0, 0, 0, 0));*/
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.project-card-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    border-bottom-left-radius: 1.25vmax;
    border-bottom-right-radius: 1.25vmax;
    margin: 2.5vmax;
    gap: 1vh;
}

.project-card-arrow {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5vmax;
    font-size: 2vmax;
    transition: transform 0.5s ease;
} .project-card:hover .card-arrow {
    transform: translateX(0.5vw);
}

.project-card-title {
    font-size: 2vmax;
    font-weight: 700;
}

.project-association {
    color: rgba(242, 242, 242, 100);
    font-size: 1.15vmax;
}

.project-description {
    color: rgba(242, 242, 242, 0.5);
    font-size: 1.15vmax;

}

.project-card-image {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: -20vh;
    transition: bottom 0.25s ease;
    left: 0;
    width: 100%;
    height: auto;
}

.project-card:hover .project-card-image {
    bottom: -15vh;
    transition: bottom 0.25s ease;
}
