@import '../App.css';

.skills-item:hover {
    transform: rotateY(180deg);

    transition: transform 2s;
}

.skills-item-alt {
    background: var(--color-5);
}

.skill-coin {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.skill-coin-inner {
    width: 100%;
    height: 100%;


    transition:
            transform 0.6s,
            scale 0.25s ease-out,
            box-shadow 0.25s ease-out;

    transform-style: preserve-3d;
    scale: 1;

    background-color: var(--color-3);
    border-radius: 75%;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    background: var(--color-3);
    font-size: var(--font-size-2);
}

.skill-coin-inner:hover {
    scale: 1.05;
    transition: 0.25s ease-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.skill-coin-inner-alt {
    background-color: var(--color-5);
}

.skill-coin.flipped .skill-coin-inner {
    transform: rotateY(180deg);
}

.skill-coin-front, .skill-coin-back {
    font-family: var(--font-face-1);
    color: var(--color-4);

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vmax;
}

.skill-coin-front {
    animation: coin-rotate 4s infinite linear;
}

@keyframes coin-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.skill-coin-back {
    transform: rotateY(180deg);
    font-size: var(--font-size-3);
}