@import "../App.css";


.experience-card {
    min-height: 30vh;
    min-width: 60vw;
    background: var(--color-3);
    padding: 2vmax;
    border-radius: 2vmax;

    z-index: 5;
}

@media screen and (max-width: 768px) {
    .experience-card {
        min-width: 80vw;
        min-height: 20vh;
    }
}

.experience-card-alt {
    background: var(--color-5);
}

.experience-card-heading {
    font-family: var(--font-face-2);
    font-size: var(--font-size-2);
    color: var(--color-2);
    font-weight: var(--font-weight-2);
}

.experience-card-subheading {
    font-size: var(--font-size-3);
    color: var(--color-4);
}

.experience-card-bullet-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: auto;
    gap: 1vmax;
    padding-bottom: 1vmax;
    padding-top: 1vmax;

    transition: all 0.25s ease-out;
}

.experience-card-bullet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-size: var(--font-size-7);
    color: var(--color-4);
    font-family: var(--font-face-1);
}

.experience-card-skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;

    font-size: var(--font-size-3);
    color: var(--color-4);

    background: var(--color-3);
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border-radius: 0.5vmax;
    padding: 0.75vmax;
    gap: 1vmax;
}

.experience-card-skills-container-alt {
    background: var(--color-5);
}

.experience-card-skill {
    padding: 0.25vmax;
    border-radius: 0.25vmax;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-4);
    transition: 0.25s ease-out;
}

.experience-card-skill:hover {
    color: var(--color-2);
    transition: 0.25s ease-out;
}

.experience-card-arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vmax;

    animation: spin-arrow-back 1s;
}

.experience-card-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-2);
    background: var(--color-3);
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    padding: 0.5vmax;
    border-radius: 50%;
    scale: 1;
    transition: 0.25s ease-out;
}

.experience-card-arrow:hover {
    background: var(--color-2);
    color: var(--color-3);
    transition: 0.25s ease-out;
    scale: 1.1;
}

.experience-card-arrow-alt {
    background: var(--color-5);
    transition: 0.25s ease-out;
    scale: 1;
}

.experience-card-arrow-alt:hover {
    background: var(--color-2);
    color: var(--color-5);
    transition: 0.25s ease-out;
    scale: 1.1;
}

.show-more-container {
    transform: scaleY(-1);
    transition: all 0.25s ease-out;
    animation: spin-arrow 1s;
}

@keyframes spin-arrow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes spin-arrow-back {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
