@import '../App.css';

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(5%);
    padding: 0.25vmax 0.5vmax;
    background-color: var(--color-2);
    color: var(--color-3);
    border-radius: 5px;
    z-index: 1;
    white-space: nowrap;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-1);
    font-family: var(--font-face-1);
}

.tooltip-content-alt {
    color: var(--color-5);
}
