@import '../App.css';

.experience {
    font-family: var(--font-face-1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 8vmax;
}

.experience-title {
    text-align: center;

    font-family: var(--font-face-2);
    color: var(--color-2);
    font-size: var(--font-size-4);
    font-style: normal;
    font-weight: var(--font-weight-1);
    line-height: normal;
    padding: 4vmax;
}

.experience-card-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2vmax;
    width: 60vw;
}

@media screen and (max-width: 768px) {
    .experience-card-container {
        width: 80vw;
    }
}

