@import '../App.css';

.projects {

}

.projects-landing-page {
    height: 90vh;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2vmax;
}
