
.work-page {
    background-image: radial-gradient(circle closest-corner at 50% 0, rgba(242, 242, 242, .15), rgba(0, 0, 0, 0));
}

@media (max-width: 768px) {
    .work-page {
        background-image: radial-gradient(circle farthest-side at 50% 0, rgba(242, 242, 242, .15), rgba(0, 0, 0, 0));
        background-size: 100% 75vh;
        background-repeat: no-repeat;    }
}

.name {
    text-shadow: 0 4px 6px rgba(0, 87, 255, .15), 0 -4px 6px rgba(255, 90, 0, .1), 0 0 20px rgba(255, 255, 255, .25)
}

.project-card-container::before {
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--primary) 50%, rgba(255, 255, 255, 0)) 100%;
}


.project-card {
    --project-card-color: rgba(242, 242, 242, 0.1);
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    border: rgb(255, 255, 255, 0.2) 1px solid;
    width: 100%;
    height: 100%;
    border-radius: 1.25vmax;
    background-color: rgba(242, 242, 242, 0.04);
    transition: background-color 0.5s ease;
    overflow: hidden;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, var(--primary) 50%, rgba(255, 255, 255, 0) 75%);
    border-radius: 1.25vmax;
    z-index: 2; /* Ensure the line is above the card content */
}

.project-card:hover {
    background-color: var(--project-card-color);
    /*background-image: radial-gradient(circle farthest-side at 50% 0, rgba(0, 99, 155, .5), rgba(0, 0, 0, 0));*/
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.project-card-image {
    transition: bottom 0.25s ease;
}

.project-card:hover .project-card-image {
    bottom: -20vh; /* Change this value to adjust the hover position */
    transition: bottom 0.25s ease;
}
