@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');


:root {
    --black: #000000;
    --white: #FFFFFF;

    --color-1: #CDB1E0;
    --color-2: #007662;
    --color-3: #FFFADE;
    --color-4: #3A254B;
    --color-5: #F2FEDC;

    --font-face-1: 'Didact Gothic';
    --font-face-2: 'Poiret One';

    --font-size-1: 128px;
    --font-size-2: 32px;
    --font-size-3: 20px;
}

h1 {
    text-align: center;

    font-family: var(--font-face-2);
    color: var(--color-2);
    font-size: var(--font-size-1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

h2 {
    text-align: center;

    font-family: var(--font-face-1);
    color: var(--color-4);
    font-size: var(--font-size-2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    max-width: 50vw;
}

.landing-page {
    height: 100vh;

    background-image: url("../assets/background.svg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
