@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');


:root {
    --black: #000000;
    --white: #FFFFFF;

    --color-1: #CDB1E0;
    --color-2: #007662;
    --color-3: #FFFADE;
    --color-4: #3A254B;
    --color-5: #F2FEDC;

    --body-font: 'Rubik', sans-serif;
    --accent-font: 'Poiret One';

}

.heading {
    font-family: var(--accent-font);
    font-size: 3rem;
    color: var(--color-2);
}

.subheading {
    font-family: var(--body-font);
    color: var(--color-4);
}

.landing-page {
    height: 90vh;
    background-image: url("../assets/background.svg");
    background-size: cover;
    margin-top: 10vh;
}