@import 'App.css';

.experience {

}

.experience-timeline{

}

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--font-face-2);
    font-size: var(--font-size-4);
    color: var(--color-2);
}

.resume{
    background: var(--white);
    height: 75vh;
    width: 75vw;
}