@import 'App.css';

.footer {
    height: 60vh;

    display: flex;
    flex-direction: row;

    background-image: url("../assets/background.svg");
    background-size: cover;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-item {

}