@import 'App.css';

.footer {
    display: flex;
    flex-direction: column;
    height: 80vh;

    background: var(--color-2);
}

.wave-overlay-container {
    width: 100%;

    background-image: url("../assets/background.svg");
}

.wave-overlay {

}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-item {
    z-index: 5;

    color: var(--color-3);
}

.footer-current {
    color: var(--color-5);
}

.thanks {
    color: var(--color-3);
}