@import 'App.css';

.navbar {
    position: absolute;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2vmax;

    font: var(--font-face-1);
    font-size: var(--font-size-3);
}

.my-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-name {
    color: var(--color-2);
}

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4vmax;
}

.page {
    color: var(--color-4);
}

.page-current {
    background: red;
    border-radius: 25%;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vmax;
}

.social-media-icon {
    color: var(--color-2);
}