@import 'App.css';

.navbar {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2vmax;

    font: var(--font-face-1);
    font-size: var(--font-size-3);
}

.navbar-my-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-my-name {
    color: var(--color-2);
}

.navbar-my-name:hover {
    cursor: pointer;
    color: var(--color-4);
    transition: all 0.25s ease;
}

.navbar-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4vmax;
}

.navbar-page {
    color: var(--color-4);
}

.navbar-page:hover {
    cursor: pointer;
}

.navbar-current {
    background-color: #CDB1E0;
    border-radius: 15%;
    transition: background-color 0.25s ease-in-out;
}

.navbar-social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vmax;
}

.navbar-social-media-icon {
    color: var(--color-2);
}

.navbar-social-media-icon:hover {
    cursor: pointer;
    color: var(--color-4);
    scale: 1.1;
    transition: all ease 0.25s;
}